<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{THE_REQUEST} ^[A-Z]+\ /index\.php(/[^\ ]*)?\ HTTP/
    RewriteRule ^(.*)$ /index.php/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>  

<IfModule mod_php5.c>   
php_value upload_max_filesize 99M   
php_value post_max_size 40M
</IfModule>
<IfModule mod_php5.c>
    
    #Session timeout
    php_value session.cookie_lifetime 36000
    php_value session.gc_maxlifetime 36000
</IfModule>
